target/
.idea/
*.iml
/**/.DS_Store
/**/.settings/
/**/.project
/**/.classpath
**/rebel.xml
**/overlays/
/**/.externalToolBuilders/
**/application*.yml
rebel.xml
/service-member/src/main/resources/
*.a